.App {
  text-align: center;
  /* background-color: #caebf3; */
  background-image: url("./img/snow_bg.png");
  box-sizing: border-box;
}

.App-header {
  /* background-image: url("img/spot-light.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 5vmin);
  color: rgb(32, 30, 30);
  font-family: "Monoton", cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.NavBarcontainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 200px;
  /* margin-bottom: 20px; */
  margin-top: 30px;
  position: sticky;
}

.sliderimg {
  width: 100%;
  height: 700px;
  object-fit: none;
}

.logobtn {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  left: 40px;
  width: 50px;
  height: 50px;
}

.navbtns {
  margin: 0 20px 0 20px;
}

.cardPhoto {
  width: 70%;
}

.card_block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 0 auto;
}

.card_body {
  margin: 20px 0 20px 0;
  display: flex;
  position: relative;
  background-color: #dfe6e9;
  opacity: 0.8;

  /* background: linear-gradient(
    to bottom,
    rgba(125, 185, 232, 0) 0%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(165, 61, 61, 0.8) 100%
  ); */
}

/* .cardContainer :hover {
  background-color: rgb(156, 156, 155);
} */
.card_title {
  margin: 0 0 20px 100px;
  text-align: center;
  position: absolute;
  left: 80px;
  font-weight: 900;
}
.card_description {
  width: 80%;
  position: relative;
  top: 20px;
  left: 50px;
  text-align: justify;
  margin-top: 50px;
}

.read_article {
  position: relative;
  bottom: 15px;
  left: 400px;
}

.read_article:hover {
  color: #dce1e4;
  border-radius: 1.5em;
  background: #63abee;
  padding: 10px;
}

.card_link:hover {
  color: #dce1e4;
  border-radius: 1.5em;
  background: #63abee;
  padding: 10px;
}

.card_author {
  position: relative;
  top: 20px;
  left: 100px;
}

.all_cont {
  display: flex;
}

.authorContainer {
  display: block;
  margin: 0 auto;
  align-items: baseline;
  justify-content: center;
  color: rgb(97, 96, 96);
  background-color: rgba(181, 184, 175, 0.6);
}

.card_emailAuthor {
  position: relative;

  font-style: italic;
}

.card_twitterAuthor {
  display: block;
  position: relative;

  font-style: italic;
}

.card_nameAuthor {
  position: relative;

  font-style: italic;
}

.card_link {
  position: absolute;
  left: 100px;
}

.read_link {
  position: relative;
  left: 400px;
  top: 12px;
  font-weight: 500;
}

.trend_container {
  display: flex;
  justify-self: center;
  pad: 20px;
  /* flex-direction: row;
  justify-content: center; */
}

.card_date {
  display: block;
  position: relative;

  right: 20px;
}

.card_trend_author {
  display: block;
  position: relative;
  top: 70px;
  left: 60px;
}

.card_container {
  margin-top: 50px;
  margin-bottom: 30px;
}

.contact_container {
  background-color: rgb(199, 199, 194, 0.7);
}

.authors {
  position: relative;
  top: 100px;
  font-size: 20px;
}
.about_authors {
  text-align: center;
}
.about_authors_link {
  color: white;
}

.form_section {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.form_fieldText {
  width: 300px;
  height: 80px;
  margin: 20px;
}

.form_details {
  width: 300px;
  height: 20px;
  margin: 20px;
}

.form_paragraph {
  text-align: start;
  margin-left: 20px;
  position: relative;
  top: 30px;
}

.contact_message {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.about_section {
  background-image: url("./img/about.png");
  object-fit: cover;
  height: 400px;
}

.about_title {
  position: relative;
  left: 150px;
}

.about_text {
  width: 600px;
  color: rgb(189, 186, 182);
  text-align: justify;
  margin: 0 auto;
}

.social-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(56, 55, 55);
  font-style: italic;
}

.social-container {
  background-color: #fff;
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translate(-2px);
}

a.youtube {
  color: rgb(219, 6, 6);
}

a.facebook {
  color: rgb(9, 66, 189);
}

a.twitter {
  color: rgb(10, 98, 180);
}
a.instagram {
  color: rgb(209, 57, 57);
}

.facebookIcon {
  width: 25px;
}

.whatsappIcon {
  width: 25px;
}

.footer-copyright {
  font-size: 10px;
}
